h1,
h2,
h3,
h4,
h5,
p{
    margin: 0 0;
    padding: 0 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}
a {
    text-decoration: none;
    list-style-type: none;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: $backgrounColor;
    color: $textColor;
    letter-spacing: 0.03em;
    line-height: 1.5;

}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    
    width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    // @include for-phone-up{
    //     width: 480px;
    // }


    // @include for-tablet-up{
    //     width: 768px ;
    // }
    // @include for-desktop-up{
    //     width: 1200px;
    // }

}
.section {
    padding-bottom: 60px;
    padding-top: 60px;

    // @include for-desktop-up {
    //     padding-bottom: 94px;
    //     padding-top: 94px;
    // }

    // &--notpaddingbot{

    //     @include for-desktop-up{
    //     padding-bottom: 0;
    // }
    // }

    // &--color{
    //     background-color: $buttonColor;
    // }
    
}



.invis {

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

