<section>
  <a href="" class="logo"></a>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="#">About</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">News</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Music</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Media</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Tours</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Contacts</a>
      </li>
    </ul>
  </nav>
</section>
