<section>
    <h2>Last tracks</h2>
    <ul>
        <li>
            <svg class="equalizer">
                <use href="/src/images/symbol-defs.svg#e1"></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
        </li>
    </ul>
</section>