<section>
    <h2>Last tracks</h2>
    <ul class="equalizer">
        <li class="equalizer__menu">
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e1"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e2"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e3"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e4"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e5"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e6"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e7"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e8"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e9"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e10"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e11"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e12"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e13"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e14"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e15"></use>
            </svg>
        </li>
        <li>
            <svg class="equalizer__svg">
                <use href="/src/images/symbol-defs.svg#e16"></use>
            </svg>
        </li>
    </ul>
</section>