<section class="tracks">
    <div class="conteiner">
        <div class="tracks__img1">
            <div class="tracks__img2">
                <img class="img" src="./images/ellipse4.jpg" alt="фотка">
            </div>
        </div>
        <div class="tracks__audio">
            <h2 class="tracks__titel">Last tracks</h2>
            <svg class="tracks__svg">
                <use href="./images/symbol-defs.svg#Group1"></use>
            </svg>

            <audio class="audio" controls>
                <source src="/src/images/audio/turbotronic.mp3.mp3" type="audio/mp3">
                <!-- <source src="/src/images/audio/turbotronic.ogg.ogg" type="audio/ogg"> -->
            </audio>
            <ul>
                <li>02 Bright Lights, Kaleena Zanders, Kandy — War For Love</li>
                <li>03 Pink Is Punk, Benny Benassi, Bright Lights — Ghost</li>
                <li>04 Hardwell, Dyro, Bright Lights — Never Say Goodbye</li>
                <li>05 Zeds Dead, Dirtyphonics, Bright Lights — Where Are You Now</li>
            </ul>
        </div>
    </div>
</section>